# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Game.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Unity\LD48\Game\.idea\.idea.Game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
